# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# database
db.sqlite3

# misc
.DS_Store

npm-debug.log*
package-lock.json

/.vscode
.prettierrc

# server-side
venv
.env
__pycache__