# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# database
db.sqlite3

#misc
.DS_Store
.env
.env.production
*.log*
package-lock.json

# server-side
venv
__pycache__/