asgiref==3.8.1
astroid==2.15.8
cffi==1.17.0
chardet==5.2.0
cryptography==43.0.0
Django==5.0.7
django-cors-headers==4.4.0
django-dotenv==1.4.2
django-extensions==3.2.3
djangorestframework==3.15.2
lazy-object-proxy==1.10.0
MarkupSafe==2.1.5
mccabe==0.7.0
pillow==10.4.0
pycodestyle==2.11.1
pycparser==2.22
pyflakes==3.1.0
pyOpenSSL==24.2.1
python-dotenv==1.0.1
reportlab==4.2.2
sqlparse==0.5.0
Werkzeug==3.0.4
wrapt==1.16.0
