h1 {
  padding-bottom: 20px;
  font-size: 18pt;
}

.two-col {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 250px;
  width: auto;
  margin-bottom: 50px;
}

.contact-info {
  padding-top: 90px;
  align-self: center;
  display: block;
  align-content: space-between;
  line-height: 1.3em;
}

.sender {
  margin: 10px 0;
}

.underline {
  text-decoration: underline;
  font-size: 9pt;
}

.invoice-info {
  line-height: 1.3em;
}

.bold {
  font-weight: 600;
  border-bottom: 1pt solid #FFFFFF;
}
