table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1pt solid #EEEEEE;
  line-height: 24px;
}

.grey {
  background-color: #EEEEEE;
  border-bottom: 1pt solid #FFFFFF;
}

#th_qty {
  width: 9%;
}

#th_item {
  width: 65%;
}

#th_price {
  width: 15%;
}

#th_amount {
  width: 15%;
}

.td_qty {
  width: 50%;
}

.td_item {
  width: 95%;
}

.td_price {
  width: 60%;
}

.td_amount {
  width: 70%;
}

.bold {
  font-weight: 600;
  border-bottom: 1pt solid #FFFFFF;
}

#add {
  padding: 3px 5px;
  color: white;
  background-color: #04AA6D;
  /* background-color: #9EC083; */
  border-radius: 50%;
}

#delete {
  cursor: pointer;
}

#subtotal {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

#total {
  text-decoration-line: underline;
  text-decoration-style: double;
}