.App {
  text-align: left;
}

.wrapper {
  background-color: #282c34;
}

h1 {
  padding-bottom: 20px;
  font-size: 18pt;
}

.page {
  width: 794px;
  height: 1122px;
  margin: 0 auto;
  padding: 80px;
  background-color: #FFFFFF;
}

.underline {
  text-decoration: underline;
  font-size: 9pt;
}

.two-col {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 250px;
  width: auto;
  margin-bottom: 50px;
}

.contact-info {
  padding-top: 20px;
  align-self: center;
  display: block;
  align-content: space-between;
  line-height: 1.3em;
}

.invoice-info {
  line-height: 1.3em;
}

.sender {
  margin: 50px 0;
}

.right {
  float: right;
}
