.App {
  text-align: left;
}

.wrapper {
  background-color: #DDDDDD;
  /* background-color: #7FA4A8; */
}

.page {
  width: 794px;
  height: 1122px;
  margin: 9px auto;
  padding: 80px;
  background-color: #FFFFFF;
  border: solid 0.75px #666666;
  box-shadow: 5px 5px 5px #CCCCCC;
}

.button {
  position: fixed;
  bottom: 330px;
  right: 80px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1pt solid #EEEEEE;
  line-height: 24px;
}

.th_pos {
  width: 4%;
}

.th_qty {
  width: 9%;
}

.th_item {
  width: 61%;
}

.th_price {
  width: 15%;
}

.th_amount {
  width: 15%;
}

.td_qty {
  width: 50%;
}

.td_item {
  width: 95%;
}

.td_price {
  width: 60%;
}

.td_amount {
  width: 70%;
}

.grey {
  background-color: #EEEEEE;
  border-bottom: 1pt solid #FFFFFF;
}

.bold {
  font-weight: 600;
  border-bottom: 1pt solid #FFFFFF;
}

#add {
  padding: 3px 5px;
  color: white;
  background-color: #04AA6D;
  /* background-color: #9EC083; */
  border-radius: 50%;
}

#delete {
  cursor: pointer;
}

#subtotal {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

#total {
  text-decoration-line: underline;
  text-decoration-style: double;
}

#submit {
  padding: 6px 13px;
  color: white;
  background-color: #04AA6D;
  /* background-color: #9EC083; */
  border-radius: 2%;
}

#submit:hover {
  background-color: #1e7354;
}