.App {
  text-align: left;
}

.wrapper {
  background-color: #282c34;
}

.page {
  width: 794px;
  height: 1122px;
  margin: 0 auto;
  padding: 80px;
  background-color: #FFFFFF;
}

.button {
  position: fixed;
  bottom: 330px;
  right: 80px;
}

#submit {
  padding: 6px 13px;
  color: white;
  background-color: #04AA6D;
  border-radius: 2%;
}

#submit:hover {
  background-color: #1e7354;
}